{% extends 'base.html'%} {% load humanize %}
<title> {% block title %}Todos os tópicos {% endblock title %} </title> {% block content %} {% for cat in category %}
<section class="container mx-auto m-2">
    <div class="card mb-3">
        <a class="text-decoration-none" href="{% url 'publication:list_post' cat.category %}">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if cat.thumb %}
                    <img src="{{cat.thumb.url}}" class="img-fluid rounded-start" alt="..."> {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="text-danger">{{cat.category}}</h5>
                        <p class="text-dark">{{cat.description}}</p>
                        <p><small class="text-muted">{{cat.updated_at|naturaltime}}</small></p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>
{% endfor %} {% endblock content %}