{% extends 'base.html' %} {% load humanize %}
<title>{% block title %} {{detail.title}} {% endblock title %}</title> {% block content %}
<section class="container mx-auto p-2 m-2">
    <img src="{{ detail.thumb.url }}" class="card-img-top border rounded-3 shadow-lg mb-4">
    <h1 class="display-5 fw-bold text-center">{{detail.title|capfirst }}</h1>
    <div class="col-lg-10 mx-auto">
        <p class="text-center">Publicado: {{detail.created_at|naturaltime}} | Atualizado: {{detail.updated_at|naturaltime}}
            </br>
            Autor: {{detail.author}}
        </p>
        <p class="lh-1">{{detail.body|safe}}
        </p>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
                <a href="{% url 'publication:list_post' detail.category %}" type="button" class="btn btn-danger mb-1">{{detail.category}}</a>
            </div>
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
                {% for tag in detail.tag.all %}
                <button type="button" class="btn btn-danger">{{tag}}</button> {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}