{% extends 'base.html' %} {% load humanize %}
<title>{% block title %}Home {% endblock title %} - Nordeste em Notas</title>
{% block header %}
<header class="m-2 p-3 shadow-sm border-bottom mx-auto">
    <div class="container">
        <div class="row">
            <div class="col d-none d-sm-block">

            </div>
            <div class="col">
                <div class="container-fluid">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Procurar..." aria-label="Search">
                        <button class="btn btn-danger" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>{% endblock header %}
{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 m-2 p-2">
    {% for pub in page_obj %}
    <div class="col">
        <a class="text-decoration-none" href="{{ pub.get_absolute_url }}">
            {% if pub.thumb %}
            <img src="{{ pub.thumb.url }}" class="card-img-top" alt="thumbnail">
            {% endif %}
            <div class="card-body">
                <h3 class="text-danger">{{ pub.title|title }}</h3>
                <p class="link-primary m-0"><i class="fas fa-hashtag"></i>{{pub.category}}</p>
                <p class="text-dark">{{ pub.description|truncatewords:45 }}</p>
                <a class="text-primary"><i class="far fa-clock m-1"></i>{{ pub.updated_at|naturaltime }}</a>
            </div>
        </a>
    </div>
    {% endfor%}
</div>
<div class="pagination justify-content-end">
    <span class="step-links">
        <h4>
        {% if page_obj.has_previous %}
            <a class="btn btn-lg btn-outline-dark" href="?page=1"><i class="fas fa-angle-double-left"></i></a>
            <a class="btn btn-lg btn-outline-dark" href="?page={{ page_obj.previous_page_number }}"><i
                    class="fas fa-chevron-left"></i></a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span> {% if page_obj.has_next %}
    <a class="btn btn-lg btn-outline-dark" href="?page={{ page_obj.next_page_number }}"><i
            class="fas fa-chevron-right"></i></a>
    <a class="btn btn-lg btn-outline-dark" href="?page={{ page_obj.paginator.num_pages }}"><i
            class="fas fa-angle-double-right"></i></a> {% endif %}
    </h4>
    </span>
</div>


{% endblock content %}